<script type="module" crossorigin src="/static/deduplication_tool/assets/app-BXWl7li1.js"></script>
<link rel="stylesheet" crossorigin href="/static/deduplication_tool/assets/app-DHJK9Er2.css">
<div>

  <link rel="shortcut icon" type="image/ico" href="/src/assets/favicon.ico" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <title>Solid App</title>
</div>
<div>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>

</div>
</div>
<!-- <script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script> -->